.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PriceExcludingGST {
    grid-column: 1;
}

.GST {
    grid-column: 2;
}

.PriceIncludingGST {
    grid-column: 3;
}